*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	overflow-x: hidden;
}

header{
	margin: 15px;
	display: flex;
	position: sticky;
	top: 0px;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #ffffff;
	z-index: 5;
	align-items: center;
	justify-content: space-between;
}

nav a{
	text-decoration: none;
}

.logoImagen{
	display: inline-block;
	max-width: 100%;
}

.navegador{
	text-align: left;
	display: flex;
	padding-left: 40px;
}

.estiloLista{
	font-size: 2rem;
}

.estiloLista li{
	font-size: 80%;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
   text-align: center;
   margin: 0 10px 0 0;
}

.estiloLista li:hover{
	background-color: #E5386D;
}

.estiloLista a{
	color: #E5386D;
}

.estiloLista a:hover{
	color: #ffffff;
}

.formEstilo{
	display: inline-block;
	font-size: 2rem;
	padding-left: 40px;
}

.contenedorOver{
	padding: 30px;
	height: 380px;
	overflow-x: hidden;
	overflow-y: scroll;
	display: grid;
	overflow-wrap: normal;
	grid-template-columns: repeat(3,1fr);
}

.contenedorOver__fotos{
	width: 100%;
    display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-content: center;
	padding: 1rem;
}

.contenedorOver__img{
	width: 100%;
}

.contenedorKits{
	display: grid;
    grid-template-columns: repeat(3,1fr);
	height: 390px;
	padding: 10px;
}

.divKit{
    margin: 5px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.divKit a{
	display: flex;
    padding-bottom: 10px;
    width: 100%;
    justify-content: center;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.shadow:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.divKit p{
	font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    flex-wrap: wrap;
}

.divKit__tabla{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 25px;
}

.tablaContenido{
	font-family:'Roboto', sans-serif;
	width: 100%;
}

.tablaContenido th{
	font-family:'Montserrat', sans-serif;
	font-size: 2rem;
	color: #E5386D;
	padding: 5px;
}

.tablaContenido tr{
	text-align: center;
	font-size: 150%;
	padding: 5px;
}

.datosCompras{
	display: grid;
    grid-template-columns: repeat(3,1fr);
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    margin: 5px;
	padding-top: 20px;
    padding-left: 25px;
    padding-right: 53px;
	padding-bottom: 45px;
    align-content: space-evenly;
    justify-content: center;
    align-items: start;
    justify-items: center;
}

.datosCompras div{
	padding: 15px;
	display: inline-block;
	text-align: start;
}

.datosCompras div h3{
	font-family:'Montserrat', sans-serif;
	color: #6C1460;
}

footer{
	height: 100px;
	border: 5px;
	border-top: solid 5px #E5386D;
	border-bottom: hidden;
	border-left: hidden;
	border-right: hidden;
}

.datosFooter{
	display: grid;
    grid-template-columns: repeat(3,1fr);
    align-content: space-evenly;
    justify-content: center;
    align-items: start;
    justify-items: center;
}

.piePagina{
	background: rgb(255,210,237);
background: linear-gradient(90deg, rgba(255,210,237,1) 0%, rgba(121,9,115,0.41220238095238093) 33%, rgba(190,188,255,1) 100%);
	font-size: 120%;
}

.piePagina div{
	padding: 15px;
	display: inline-block;
	text-align: start;
	font-family:'Roboto', sans-serif;
}

.piePagina div h4{
	font-family:'Montserrat', sans-serif;
	color:#020202;

}

.textoContacto{
	display: inline-block;
	width: 460px;
	height: 100px;
	font-family:'Roboto', sans-serif;
	font-size: 1.5rem;
	background-color:  #FDF6F0;
	border: solid #b1859b 2px;
    margin: 15px;
	text-align:start;
}

.textoContacto p{
	padding: 7px;
}

.estiloFormu{
	display: inline-block;
	font-family:'Roboto', sans-serif;
	font-size: 1.5rem;
	padding-left: 100px;
}

.estiloFormu div{
	padding: 3px;
}

.button {
    background: linear-gradient(-45deg, #b5008e, #9f69fe, #fcd6f2, #3f00b5);
    background-size: 800% 400%;
    padding:5px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
   }
   
   button:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
   }
   
   button:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
   }
   
   @keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
   }



.perfiles{
	background-color: #fcedf4;
	height: 580px;
	padding: 15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-content: space-evenly;
    justify-content: center;
    align-items: start;
    justify-items: center;
}

.perfiles__img{
	width: 60%;
}

.presentacion{
	width: 600px;
	height: 100%;
    display: flex;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    z-index: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: flex-start;
}

.presentacion p{
	position: relative;
	padding: 15px;
}

.presentacion img{
	position: relative;
	
}

.gracias{
	display: grid;
    margin: 15px;
    padding: 80px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.gracias h3{
	font-family: 'Montserrat', sans-serif;
    color: #E5386D;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.gracias p{
	font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.categorias{
	display: flex;
    width: auto;
    height: 198px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    background-color: #FDF6F0;
    border: solid #b1859b 2px;
    margin: 15px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
	}

.categorias h1{
    padding-left: 5px;
	font-family:'Montserrat', sans-serif;
	font-size: 2rem;
	padding: 5px;
}

.categorias ul{
	padding-left: 5px;
}

.categorias a{
	list-style: none;
    text-decoration: none;
	color: #6C1460;
}

.catalogo{
	width: 100%;
    display: grid;
    grid-template-columns: 20% auto 15%;
	}

.productos{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
}

.cardProducto{
	width: 25%;
    height: auto;
    display: flex;
    margin: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.cardProducto__image{
   width: 100%;
}


.cardProducto__title{
	padding: 5px;
	font-family:'Montserrat', sans-serif;
	font-size: 2rem;
	text-align: center;
}

.cardProducto__text{
	font-family:'Roboto', sans-serif;
	font-size: 1.5rem;
	text-align: center;
}

.pasosCompra{
	display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 700px;
    justify-content: space-around;
    justify-items: center;
	padding: 30px;
	background-color: #eccedd;
}

.cardCompra{
	width: 50%;
    height: auto;
    display: flex;
    margin: 15px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: initial;
    align-items: center;
}

.cardCompra__image{
	width: auto;
}

.cardCompra__title{
	padding: 5px;
	font-family:'Montserrat', sans-serif;
	font-size: 1.5rem;
	text-align: center;
}

.cardCompra__text{
	font-family:'Roboto', sans-serif;
	font-size: 1.5rem;
	text-align: center;
}

.bannerImg{
 width: 100%;
 height: 200px;
 padding: 15px;
}


.textoContacto{
display: flex;
width: 100%;
height: auto;
font-family: 'Roboto', sans-serif;
font-size: 1.5rem;
background-color: #FDF6F0;
border: solid #b1859b 2px;
margin: 15px;
text-align: start;
}

.sectionForm{
	display: grid;
    grid-template-columns: 20% auto 15%;
    justify-content: space-between;
    align-items: baseline;
    justify-items: start;
    padding: 20px;
    padding-bottom: 50px;
}
















/* MEDIA QUERIES */

@media screen and (max-width: 768px){
	.logoImagen{
		flex-direction: column;
		flex: 100%;
	}

.contenedorKits {
    grid-template-columns: 1fr;
	display: flex;
    flex-direction: column;
	height: auto;
    
}

header{
	flex-direction: column;
    width: auto;
    margin: 0px;
}

.navegador{
	flex-direction: column;
    align-items: center;
	padding-left: 0px;
}

.estiloLista {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.estiloLista li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.formEstilo {
    display: inline-block;
    padding-left: 0px;
}

.contenedorOver{
	grid-template-columns: 1fr;
	padding: 5px;
}

.tablaContenido{
	border-collapse: collapse;
	}


.tablaContenido tr {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.tablaContenido td{
	display: flex;
    flex: 10%;
    flex-direction: column;
}

.tablaContenido th{
    display: flex;
    flex: 10%;
    flex-direction: column;
	font-size: 1rem;
}

.datosCompras {
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.piePagina {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
	height: auto;
}

.datosFooter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
}

.perfiles{
	grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	height: auto;
}

.presentacion{
	width: 100%;
	padding: 0px;
}

.gracias{
	padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.catalogo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.categorias {
    display: flex;
    width: auto;
    height: 144px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.productos{
	display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
	width: 100%;
	height: auto;
}

.cardProducto{
	width: 100%;
}

.pasosCompra{
	grid-template-columns: 1fr;
	height: auto;
}

.cardCompra{
	width: 100%;

}

.bannerImg{
	width: 100%;
    height: auto;
    padding: 0px;
    padding-top: 10px;
}

.sectionForm{
    grid-template-columns: 1fr;
    width: 100%;
	padding: 5px;
}

.textoContacto{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.estiloFormu{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
}

.textoContacto{
	flex-direction: column;
    width: auto;
}

.textoContacto p{
	width: 100%;
}


}